@page
@model IndexModel
@{
    ViewData["Title"] = "Home for Shirt Lovers";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2023,8,17 );
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shirt Lovers</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
